@charset "UTF-8";

button {
    background: none;
    outline: none;
    border: none;
    
    
}

.header_wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border-bottom: 1px solid rgba(37, 40, 47, 0.1);
}

#bookHeader {
	overflow: inherit;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: space-between;
	position: relative;
	height: 48px;
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	color: rgba(37, 40, 47, 0.65);
	z-index: 4120;
}



#bookHeader .header_left {
    margin: 0 24px;
    justify-content: normal;
}

#bookHeader .header_right {
    padding: 0 24px;
    position: absolute;
    right: 0;
    background-color: #fff;
}

#bookHeader .header_left, #appHeader .header_right {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	align-items: center;
}



#bookHeader button {
    position: relative;
    margin-right: 2px;
    color: rgba(37, 40, 47, 0.65);
    font-size: 13px;
    padding: 4px 8px;
    line-height: 28px;
    box-sizing: content-box;
}

#bookHeader #btnSaveDesign {
    display: inline-block;
    width: 66px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px rgba(157, 158, 163, 0.6);
    background-color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bookHeader #btnPreview {
    display: inline-block;
    width: 66px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px rgba(157, 158, 163, 0.6);
    background-color: #fff;
    padding: 0;
    margin-left: 8px;
    box-sizing: border-box;
}

#bookHeader #btnDownload {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    margin-left: 8px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    border: solid 1px #22CC88;
    width: 108px;
    background: linear-gradient(108deg, #82E673, #22CC88 48%, #00CCBB);
    color: #ffffff;
}

.guidebook_name {
    text-align: left;
    height: 25px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 0 12px;
    max-width: 240px;
    position: relative;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid transparent;
    cursor: text;
    color: #25282f;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}



.guidebook_name p[contenteditable=true] {
    text-overflow: unset;
    width: 240px;
    border-bottom: 1px dashed rgba(157, 158, 163, 0.6);
}

#editorWrap {
	position: absolute;
	top: 48px;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	
}



#tabSection {
	/* overflow: visible; */
	position: relative;
	display: flex;
	background: #fff;
	border-right: 1px solid rgba(37, 40, 47, 0.1);
	text-align: center;
	transition: width .3s;
}

#editorWrap button {
	position: relative;
    margin-right: 2px;
    color: rgba(37, 40, 47, 0.65);
    font-size: 13px;
    padding: 4px 8px;
    line-height: 28px;
    box-sizing: content-box;
	
}

/*=============================================================*/



#editorSection {
	position: relative;
	flex: 1;
}



#canvas {
	position: relative;
	z-index: 0;
	flex: 1;
	display: flex;
	min-height: 100%;
	background: /* #F1F1F2 */red;
}

#canvas .tbpe_skin {
	width: 100% !important;
	/* height: 100% !important; */
}


ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
 	grid-auto-rows: minmax(50px, auto);
  	grid-gap: 1px;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}

.list_wrap ul li {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 2px 1px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-transition-property: width,height,-webkit-transform;
    transition-property: width,height,transform;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    outline: 0!important;
}

 .scroll_element {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 120px;
   }
 .scroll_element .scroll_track_ver.hidden,
  .scroll_element .scroll_track_hor.hidden {
    display: none; 
    }
   .scroll_element.scroll_hor .scroll_contents {
    overflow-x: scroll;
    bottom: -18px;
    padding-bottom: 18px; }
  .scroll_element.scroll_ver .scroll_contents {
    overflow-y: scroll;
    right: -18px;
    padding-right: 18px; }
   .scroll_element .scroll_contents {
   /* position: absolute;  */
  	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0; 
    box-sizing: border-box;
    overflow: hidden;
    -webkit-overflow-scrolling: touch; }
  .scroll_element .scroll_contents > ul,
    .scroll_element .scroll_contents > div {
     /*  position: absolute; */
      width: 100%; }
  .scroll_element .scroll_track_ver {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 8px;
    bottom: 4px;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .3s ease-out; }
    .scroll_element .scroll_track_ver > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: rgba(157, 158, 163, 0.6);
      border-radius: 4px; }
  .scroll_element .scroll_track_hor {
    position: absolute;
    bottom: 3px;
    left: 4px;
    right: 4px;
    height: 4px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity .3s ease-out; }
    .scroll_element .scroll_track_hor > div {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 100%;
      background-color: rgba(157, 158, 163, 0.6);
      border-radius: 2px; } 
      
      
      
      