<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fellowMapper">
	
	<select id="selectMyFellowMatching" parameterType="string" resultType="Fellow">
		select * from fellowmatching join fellowboard on fellowmatching.fb_no = fellowboard.fb_no join member on fellowboard.fb_id = member.member_id where fm_id = #{value} and fm_accept_check in ('DONE', 'WAIT')
	</select>
	
	<select id="selectMyFellowBoard" parameterType="string" resultType="Fellow">
		select * from fellowboard join fellowmatching on fellowboard.fb_no = fellowmatching.fb_no join member on fellowmatching.fm_id = member.member_id where fb_id = #{value} and fm_accept_check = 'DONE'
	</select>
	
	<select id="selectMyFellowMatchingOne" parameterType="string" resultType="Fellow">
		select * from fellowmatching join fellowboard on fellowmatching.fb_no = fellowboard.fb_no join member on fellowboard.fb_id = member.member_id where fb_id = #{value}
	</select>
	
	<select id="selectMyFellowBoardOne" parameterType="string" resultType="Fellow">
		select * from fellowboard join fellowmatching on fellowboard.fb_no = fellowmatching.fb_no join member on fellowmatching.fm_id = member.member_id where fm_id = #{value}
	</select>
	
	<update id="updateFellowBoardReport" parameterType="_int">
		update fellowmatching set fb_report = 'Y' where fb_no = #{value}
	</update>
	
	<update id="updateFellowMatchingReport" parameterType="_int">
		update fellowmatching set fm_report = 'Y' where fb_no = #{value}
	</update>
	
	<select id="selectTotal" resultType="_int">
		SELECT COUNT(*) FROM FELLOWBOARD
	</select>
	
	<select id="selectAllFellowBoard" parameterType="Page" resultType="FellowBoard">
		<![CDATA[
			SELECT * FROM (SELECT ROWNUM RNUM, FB_NO, FB_ID, FB_TITLE, FB_CONTENT, FB_START_DATE, FB_END_DATE, FB_CONTRY, FB_CITY, FB_GENDER, FB_WRITE_DATE, FB_DEADLINE_CHECK, FB_NUMBER, FB_COMP_NUMBER FROM 
			(SELECT * FROM FELLOWBOARD ORDER BY FB_NO DESC)) LEFT JOIN MEMBER ON MEMBER_ID = FB_ID WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectOneFellowBoard" parameterType="_int" resultType="FellowBoard">
		SELECT * FROM FELLOWBOARD WHERE FB_NO = #{ fb_no }
	</select>
	
	<select id="selectAllLocation" resultType="Location">
		SELECT * FROM LOCATION ORDER BY LOC_NAME ASC
	</select>
	
	<select id="selectAllFellowMatching" parameterType="_int" resultType="FellowMatching">
		SELECT * FROM FELLOWMATCHING WHERE FB_NO = #{ fb_no }
	</select>
	
	<insert id="insertFellowBoard" parameterType="FellowBoard">
		INSERT INTO FELLOWBOARD VALUES (FELLOWBOARD_SEQ.NEXTVAL, #{ fb_id }, #{ fb_title }, #{ fb_content }, #{ fb_start_date }, #{ fb_end_date }, #{ fb_contry }, #{ fb_city }, #{ fb_gender }, sysdate, #{ fb_deadline_check }, #{ fb_number }, #{ fb_comp_number })
	</insert>
	
</mapper>
