<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guideMatchingMapper">
	
	<select id="selectMyGuideMatching" parameterType="string" resultType="MyGuideMatching">
		select * from (select rownum rnum, gb_no, gb_id, guide_id, member_name, member_gender, guide_profile_rename, guide_lang, gb_start_date, gb_end_date, gm_date, gb_report, gm_report, 
		grade_check, guide_service, loc_name, gb_route, gb_price, gb_open_date, gb_close_date, gb_title, guide_count, guide_grade from (select guideboard.gb_no, gb_id, guide_id, member_name,
		member_gender, guide_profile_rename, guide_lang, gb_start_date, gb_end_date, gm_date, gb_report, gm_report, grade_check, guide_service, loc_name, gb_route, gb_price, gb_open_date, gb_close_date,
		gb_title, guide_count, guide_grade from guideboard join guidematching on guideboard.gb_no = guidematching.gb_no join guide on guideboard.gb_id = guide.guide_id 
		join location on guide.loc_code = location.loc_code join member on guide.guide_id = member.member_id where gm_id = #{value} order by gb_start_date desc, gb_end_date desc)) 
	</select>
	
	<select id="selectMyGuideBoard" parameterType="string" resultType="MyGuideMatching">
		select * from (select rownum rnum, gb_no, gm_id, gb_id, member_name, member_gender, member_profile_rename, gm_date, gb_start_date, gb_end_date, gb_report, gm_report, grade_check, gm_number, loc_name 
		from (select guidematching.gb_no, gm_id, gb_id, member_name, member_gender, member_profile_rename, gm_date, gb_start_date, gb_end_date, gb_report, gm_report, grade_check, gm_number, loc_name
		from guidematching join guideboard on guidematching.gb_no = guideboard.gb_no join guide on guideboard.gb_id = guide.guide_id join location on guide.loc_code = location.loc_code 
		join member on guidematching.gm_id = member.member_id where gb_id = #{value} order by gb_start_date desc, gb_end_date desc))
	</select>
	
	<select id="selectMyGuideMatchingOne" parameterType="string" resultType="MyGuideMatching">
		select * from guidematching join guideboard on guidematching.gb_no = guideboard.gb_no join member on guideboard.gb_id = member.member_id join guide on member.member_id = guide.guide_id where gb_id = #{value}
	</select>
	
	<select id="selectMyGuideBoardOne" parameterType="string" resultType="MyGuideMatching">
		select * from guideboard join guidematching on guideboard.gb_no = guidematching.gb_no join member on guidematching.gm_id = member.member_id join guide on guideboard.gb_id = guide.guide_id where gm_id = #{value}
	</select>
	
	<select id="selectListGuideBoard" parameterType="GuideSearch" resultType="GuideBoard">
		select gb_no, gb_id, gb_start_date, gb_end_date, gb_route,gb_price,gb_min_number, 
		gb_max_number, gb_open_date, gb_close_date, gb_title, gb_number, gb_deadline_check,
		loc_code, member_gender, guide_lang, guide_grade, guide_profile_original, guide_profile_rename, member_name
		from guideboard
		left join guide on guideboard.gb_id = guide.guide_id
		left join member on guideboard.gb_id = member.member_id 
		where gb_deadline_check = 'N'
		<if test="trip_city != 'null'">
			and loc_code like #{trip_city}
		</if>
		
		<if test="befor_day != null">
		<![CDATA[
		
			and gb_start_date <= #{befor_day}
		]]>
		</if>
		<if test="after_day != null">
		<![CDATA[
			and gb_end_date >= #{after_day}
		]]>
		</if>
		<if test="gender != 'none'">
			and member_gender = #{gender}
		</if>
		<if test="lang != 'none'">
			and regexp_like(guide_lang, #{lang})
		</if>
		<if test="average_score != 0">
		<![CDATA[
		
			and guide_grade >= ${average_score}
		]]>
		</if>
		
	</select>
	
	<select id="selectGB" parameterType="string" resultType="GuideBoard">
		select gb_no, gb_id, gb_start_date, gb_end_date, gb_route,gb_price,gb_min_number, 
		gb_max_number, gb_open_date, gb_close_date, gb_title, gb_number, gb_deadline_check,
		loc_code, member_gender, guide_lang, guide_grade, guide_profile_original, guide_profile_rename, member_name, guide_say
		from guideboard
		left join guide on guideboard.gb_id = guide.guide_id
		left join member on guideboard.gb_id = member.member_id 
		where gb_no = #{value}
	</select>
	
	
	<update id="updateDetailAcceptGM" parameterType="GuideBoard">
		update guideboard set gb_number = #{gb_number} where gb_no = #{gb_no}
	</update>
	
	<update id="updateDetailAcceptGM_cut" parameterType="GuideBoard">
		update guideboard set gb_number = #{gb_number}, gb_deadline_check = 'Y' where gb_no = #{gb_no}
	</update>
	
	<insert id="insertGuideMatching" parameterType="GuideMatching">
		insert into guidematching values(#{gb_no}, #{gm_id}, SYSDATE, #{gm_number}, 'Y', default, default, default )
	</insert>

	<update id="updateGradeCheck" parameterType="GuideMatching">
		update guidematching set grade_check = 'Y' where gb_no = #{gb_no} and gm_id = #{gm_id}
	</update>
	
	<update id="updateGuideMatchingReport" parameterType="_int">
		update guidematching set gm_report = 'Y' where gb_no = #{value}
	</update>
	
	<update id="updateGuideBoardReport" parameterType="_int">
		update guidematching set gb_report = 'Y' where gb_no = #{value}
	</update>
	
	<insert id="insertWordGuideBoard" parameterType="GuideBoard">
		insert into guideboard values(GUIDEBOARD_SEQ.NEXTVAL, #{gb_id}, #{gb_start_date}, #{gb_end_date}, #{gb_route}, #{gb_price}, #{gb_min_number}, 
		#{gb_max_number}, SYSDATE, #{gb_close_date}, #{gb_title}, default, default)
	</insert>
	
	<update id="updateClose_gb" parameterType="String">
		update guideboard set gb_deadline_check = 'Y' where gb_no = #{value}
	</update>
	
	<select id="selectGuideBoardList" resultType="GuideBoard">
		select gb_no, gb_id, gb_start_date, gb_end_date, gb_route,gb_price,gb_min_number, 
		gb_max_number, gb_open_date, gb_close_date, gb_title, gb_number, gb_deadline_check,
		loc_code, member_gender, guide_lang, guide_grade, guide_profile_original, guide_profile_rename, member_name
		from guideboard
		left join guide on guideboard.gb_id = guide.guide_id
		left join member on guideboard.gb_id = member.member_id 
		where gb_deadline_check = 'N'
	</select>
	
	<select id="chk_GM" parameterType="GuideMatching" resultType="GuideMatching">
		select * from guidematching where gb_no = #{gb_no} and gm_id = #{gm_id}
	</select>
	
	<select id="selectGetSeq" resultType="_int">
		select guideboard_seq.currval from dual
	</select>
	
</mapper>
