<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guideMapper">
	
	<select id="selectDetailViewGuide"  parameterType="string" resultType="GuideDetail">
		select loc_name, guide_contry, guide_address, guide_service, guide_lang, member_name, member_gender, member_birth, guide_phone, car_check, car_number,guide_qualification,guide_id
		from guide
		right join location on guide.loc_code = location.LOC_CODE
		left join member on member.member_id = guide.guide_id
		where guide_qualification = 'DONE' and guide_id = #{value}
	</select>
	
	<select id="selectDetailViewApplyGuide" parameterType="string" resultType="GuideDetail">
		select loc_name, guide_contry, guide_address, guide_service, guide_lang, member_name, member_gender, member_birth, guide_phone, car_check, car_number,guide_qualification,guide_id
		from guide
		full join location on guide.loc_code = location.LOC_CODE
		full join member on member.member_id = guide.guide_id
		where guide_qualification = 'WAIT' and guide_id = #{value}
	</select>
		
	<delete id="detailApplyRejectGuide1" parameterType="string">
		delete guide where guide_id = #{value}
	</delete>
	
	<update id="updateDetailAcceptGuide1" parameterType="string">
		update guide set guide_apply = 'DONE' where guide_id = #{value}
	</update>
	
	<delete id="updateDetailForcedExitGuide" parameterType="string">
		delete guide where guide_id = #{value}
	</delete>
	
	<insert id="insertWordGuide" parameterType="Guide">
		insert into guide values(#{guide_id}, #{loc_code}, #{guide_profile_original}, #{guide_profile_rename}, 
		#{guide_lang}, #{guide_introduce}, #{guide_say}, default, default, #{guide_address}, #{guide_contry}, 
		#{guide_service}, #{guide_phone}, #{car_check}, #{car_number}, #{guide_recommend}, #{qualification_original}, #{qualification_rename}, 
		default, 'WAIT', #{city_name}, #{guide_telephone}, #{price} )
	</insert>
</mapper>
