<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	
	<select id="loginChkMember" parameterType="Member" resultType="Member">
		select * from member where member_id = #{member_id} and member_secession = 'N'
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into member values (#{member_id}, #{member_name}, #{member_pwd}, #{member_email}, 
		#{member_gender}, #{member_phone}, to_date(#{member_birth}, 'YYYY/MM/DD'), 
		<if test="member_profile_original != null">
			#{member_profile_original}, #{member_profile_rename},
		</if>
			null, null, default, default, default, default, null, default)
	</insert>
	
	<select id="selectOneMember" parameterType="string" resultType="Member">
		select * from member where member_id = #{value}
	</select>
	
	<update id="updateMember" parameterType="Member">
		update member set member_pwd = #{member_pwd}, member_phone = #{member_phone}
		<if test="member_profile_original != null">
			, member_profile_original = #{member_profile_original}, member_profile_rename = #{member_profile_rename}
		</if>
		where member_id = #{member_id}
	</update>
	
	<update id ="updateGuideMember" parameterType="string">
		update member set guide_qualification = 'NONE' where member_id = #{value}
	</update>
	
	<delete id="deleteMember" parameterType="string">
		delete member where member_id = #{value}
	</delete>
	
	<select id="selectSearchMemberId" parameterType="string" resultType="_int">
		select count(member_id) from member where member_id = #{value}
	</select>
	
	<select id="selectSearchMemberEmail" parameterType="string" resultType="_int">
		select count(member_email) from member where member_email = #{value}
	</select>
	
	<select id="selectSearchMemberPhone" parameterType="string" resultType="_int">
		select count(member_phone) from member where member_phone = #{value}
	</select>
		
	<select id="selectListAllMember" resultType="Member">
		<![CDATA[
		select * 
		from 
			  (select rownum mnum, MEMBER_ID, MEMBER_NAME, MEMBER_PWD, MEMBER_EMAIL, MEMBER_GENDER, MEMBER_PHONE, MEMBER_BIRTH, MEMBER_PROFILE_ORIGINAL, 
			  						MEMBER_PROFILE_RENAME, MEMBER_REPORT_COUNT, GUIDE_QUALIFICATION, MEMBER_LEVEL, ENROLL_DATE, GUIDE_APPLY_ALARM
				from (select * from member order by ENROLL_DATE desc))
		where mnum >= #{startRow} and mnum <= #{endRow}
		]]>
	</select>
	
	<select id="selectListAllGuide" resultType="GuideMember">
		<![CDATA[
		select member_name, member_id, member_gender, member_email, guide_grade, guide_report_count
		from (select rownum gnum, member_name, member_id, member_gender, member_email, guide_grade, guide_report_count
				from (select * from (select member_name, member_id, member_gender, member_email, guide_grade, guide_report_count 
									from member
									full outer join guide on member.member_id = guide.guide_id
									where guide_qualification = 'DONE')))
		where gnum >= #{startRow} and gnum <= #{endRow}
		]]>
	<!-- 
		select member_name, member_id, member_gender, member_email, guide_grade, guide_report_count 
		from member
		full outer join guide on member.member_id = guide.guide_id
		where guide_qualification = 'DONE'
	 -->
	</select>
	
	<select id="selectListApplyGuide" resultType="Member">
		<![CDATA[
		SELECT * 
		FROM (SELECT ROWNUM mnum, MEMBER_ID,MEMBER_NAME,MEMBER_PWD,MEMBER_EMAIL,MEMBER_GENDER,MEMBER_PHONE,MEMBER_BIRTH,
						MEMBER_PROFILE_ORIGINAL,MEMBER_PROFILE_RENAME,MEMBER_REPORT_COUNT,GUIDE_QUALIFICATION,MEMBER_LEVEL,ENROLL_DATE,GUIDE_APPLY_ALARM
				from (select * from member where guide_qualification='WAIT')) 
		WHERE mnum >= #{ startRow } AND mnum <= #{ endRow }
		]]>
		<!-- 
		select * from member where guide_qualification='WAIT'
		 -->
	</select>
	
	
	<select id="selectDetailViewMember"  parameterType="string" resultType="Member">
		select * from member where member_id = #{value}
	</select>
	
	<update id="detailApplyRejectGuide2" parameterType="string">
		update member set guide_qualification = 'NONE' where member_id = #{value}
	</update>

	<update id="updateDetailAcceptGuide2" parameterType="string">
		update member set guide_qualification = 'DONE', member_level = 2 where member_id = #{value}
	</update>
	
	<update id="updateDetailAcceptNormalReport1" parameterType="string">
		update member set member_report_count = member_report_count+1 where member_id = #{value}
	</update>
	
	<update id="updateDetailAcceptGuideReport1" parameterType="string">
		update member set member_report_count = member_report_count+1 where member_id = #{value}
	</update>
	
	<select id="selectTotal" resultType="_int">
		select count(*) from member
	</select>
	
	<select id="selectTotalGuide" resultType="_int">
		select count(*) from (select member_name, member_id, member_gender, member_email, guide_grade, guide_report_count 
								from member
								full outer join guide on member.member_id = guide.guide_id
								where guide_qualification = 'DONE')
	</select>
	
	<select id="selectTotalApplyGuide" resultType="_int">
		select count(*) from member where guide_qualification='WAIT'
	</select>
	
</mapper>
