<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeMapper">
	
	<select id="selectListAllNotice" resultType="Notice">
		<![CDATA[
		select * 
		from 
			  (select rownum nnum, NOTICE_NO,NOTICE_ID, NOTICE_DATE, NOTICE_TITLE, NOTICE_VIEW_COUNT, NOTICE_FILE_ORIGIN, NOTICE_FILE_RENAME, NOTICE_CONTENT
				from (select * from notice order by notice_date desc))
		where nnum >= #{startRow} and nnum <= #{endRow}
		]]>
	</select>
		<select id="selectList" parameterType="Page" resultType="Qna">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM RNUM, QNA_NO, QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_COMMENT, QNA_ALARM
		                      FROM (SELECT * FROM QNA ORDER BY QNA_NO DESC)) WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectDetailViewNotice" parameterType="int" resultType="Notice">
		select * from notice where notice_no = #{value}
	</select>
	
	<delete id="deleteDetailNotice" parameterType="int">
		delete notice where notice_no = #{value}
	</delete>
	
	<insert id="insertNotice" parameterType="Notice">
		insert into notice values (notice_seq.nextval, #{notice_id}, default, #{notice_title}, default, null, null, #{notice_content})
	</insert>
	
	<select id="selectTotal" resultType="_int">
		select count(*) from notice
	</select>
	
	<update id="updateDetailNotice" parameterType="Notice">
		update notice
		set notice_title = #{notice_title}, notice_date = sysdate, notice_content = #{notice_content}
		where notice_no = #{notice_no}
	</update>
</mapper>
