<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">
	
	<select id="selectList" parameterType="Page" resultType="Qna">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM RNUM, QNA_NO, QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_COMMENT, QNA_ALARM
		                      FROM (SELECT * FROM QNA ORDER BY QNA_NO DESC)) WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow }
		]]>
	</select>
	
	<select id="selectListMyQna" parameterType="Page" resultType="Qna">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM RNUM, QNA_NO, QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_COMMENT, QNA_ALARM FROM 
		(SELECT * FROM QNA WHERE QNA_ID=#{qna_id} ORDER BY QNA_NO DESC)) WHERE RNUM >= #{startRow} AND RNUM <= #{endRow}
		]]>
	</select>
	
	<select id="selectTotal" resultType="_int">
		SELECT COUNT(*) FROM QNA
	</select>
	
	<select id="selectMyTotal" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM QNA WHERE QNA_ID = #{ qna_id }
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="Qna">
		SELECT QNA_NO, QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_COMMENT, QNA_ALARM, MEMBER_NAME, MEMBER_GENDER, MEMBER_PROFILE_RENAME FROM QNA 
		LEFT JOIN MEMBER ON MEMBER_ID = QNA_ID WHERE QNA_NO = #{ value }
	</select>
	
	<insert id="insertQna" parameterType="Qna">
		INSERT INTO QNA VALUES (QNA_SEQ.NEXTVAL, #{ qna_id }, #{ qna_title }, #{ qna_content }, sysdate, #{ qna_comment }, #{ qna_alarm })
	</insert>
	
	<update id="updateQna" parameterType="Qna">
		UPDATE QNA SET QNA_TITLE = #{ qna_title }, QNA_CONTENT = #{ qna_content }, QNA_ALARM = #{ qna_alarm }, QNA_DATE = sysdate WHERE QNA_NO = #{ qna_no }
	</update>
	
	<delete id="deleteQna" parameterType="_int">
		DELETE FROM QNA WHERE QNA_NO = #{ qna_no }
	</delete>
	

	<select id="selectListQna" parameterType="Page" resultType="Qna">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM RNUM, QNA_NO, QNA_ID, QNA_TITLE, QNA_CONTENT, QNA_DATE, QNA_COMMENT, QNA_ALARM FROM 
		(SELECT * FROM QNA WHERE QNA_TITLE LIKE '%' || #{ search } || '%' OR QNA_CONTENT LIKE '%' || #{ search } || '%' ORDER BY QNA_NO DESC))
		WHERE RNUM >= #{ startRow } AND RNUM <= #{ endRow } 
		]]>
	</select>
	
	<select id="selectSearchTotal" parameterType="string" resultType="_int">
		SELECT COUNT(*) FROM QNA WHERE QNA_TITLE LIKE '%' || #{ search } || '%' OR QNA_CONTENT LIKE '%' || #{ search } || '%'
	</select>
	

	<select id="selectQnaComment" parameterType="_int" resultType="QnaComment">
		select qna_no, qc_id, qc_content, qc_date 
		from qnacomment
		left join member on member_id = qc_id where qna_no = #{value}
	</select>
	
	<insert id="insertReplyQnA" parameterType="QnaComment">
		insert into qnacomment values (#{qna_no}, #{qc_id}, #{qc_content}, sysdate)
	</insert>
	
	<update id="updateReplyQnA" parameterType="QnaComment">
		update qnacomment set qc_content = #{qc_content}, qc_date = sysdate where qna_no = #{qna_no} 
	</update>

	<delete id="deleteReplyQnA" parameterType="_int">
		delete qnacomment where qna_no = #{value}
	</delete>
	
	<update id="updateQnaAlarm" parameterType="_int">
		update qna set qna_comment = 'Y', qna_alarm='Y' where qna_no = #{value}
	</update>
</mapper>
