<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reportMapper">
	
	<select id="selectListNormalReport" resultType="NormalReport">
		<![CDATA[
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
		from (select rownum renum, member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
				from (select * from (select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
									from member
									full join report on member.member_id = report.report_id
									where report_type = 'NORMAL' and report_status = 'WAIT'
									order by report_date desc)))
		where renum >= #{startRow} and renum <= #{endRow}
		]]>
		<!-- 
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
		from member
		full join report on member.member_id = report.report_id
		where report_type = 'NORMAL' and report_status = 'WAIT'
		order by report_date desc
		 -->
	</select>
	
	<select id="selectListGuideReport" resultType="GuideReport">
		<![CDATA[
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
		from (select rownum rgnum, member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
				from (select * from (select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
										from member
										right join report on member.member_id = report.report_id
										where report_type = 'GUIDE' and guide_qualification = 'NONE' and report_status = 'WAIT'
										order by report_date desc)))
		where rgnum >= #{startRow} and rgnum <= #{endRow}
		]]>	
		<!-- 
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
		from member
		right join report on member.member_id = report.report_id
		where report_type = 'GUIDE' and guide_qualification = 'NONE' and report_status = 'WAIT'
		order by report_date desc
		 -->
	</select>
	
	<select id="selectDetailViewNormalReport" parameterType="string" resultType="NormalReport">
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type
		from member
		right join report on member.member_id = report.report_id
		where report_type = 'NORMAL' and report_id = #{value}
	</select>
	
	<select id="selectDetailViewGuideReport" parameterType="string" resultType="GuideReport">
		select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type
		from member
		right join report on member.member_id = report.report_id
		where report_type = 'GUIDE' and report_id = #{value}
	</select>
	
	<delete id="detailRejectNormalReport" parameterType="int">
		delete report where report_no = #{value}
	</delete>
	
	<update id="updateDetailAcceptNormalReport2" parameterType="int">
		update report set report_status = 'DONE', complete_date = sysdate  where report_no = #{value}
	</update>
	
	<delete id="detailRejectGuideReport" parameterType="int">
		delete report where report_no = #{value}
	</delete>
	
	<update id="updateDetailAcceptGuideReport2" parameterType="int">
		update report set report_status = 'DONE', complete_date = sysdate  where report_no = #{value}
	</update>
	

	<select id="selectTotal" resultType="_int">
		select count(*) from (select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
								from member
								full join report on member.member_id = report.report_id
								where report_type = 'NORMAL' and report_status = 'WAIT'
								order by report_date desc)
	</select>
	
	<select id="selectTotalGuide" resultType="_int">
		select count(*) from (select member_name, report_no,clame_id,report_id,report_content,report_status,report_date,complete_date,report_type, member_gender, member_email ,member_report_count
								from member
								right join report on member.member_id = report.report_id
								where report_type = 'GUIDE' and guide_qualification = 'NONE' and report_status = 'WAIT'
								order by report_date desc)
	</select>
	

	<insert id="insertReport" parameterType="Report">
		insert into report values (report_seq.nextval, #{clame_id}, #{report_id}, #{report_content}, default, default, null, null, #{report_type})
	</insert>

	
</mapper>
