<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.a2b.trip.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.a2b.trip.guide.model.vo.GuideMember" alias="GuideMember"/>
		<typeAlias type="com.a2b.trip.report.model.vo.Report" alias="Report"/>
		<typeAlias type="com.a2b.trip.report.model.vo.NormalReport" alias="NormalReport"/>
		<typeAlias type="com.a2b.trip.report.model.vo.GuideReport" alias="GuideReport"/>
		<typeAlias type="com.a2b.trip.common.Page" alias="Page" />
		<typeAlias type="com.a2b.trip.qna.model.vo.Qna" alias="Qna" />
		<typeAlias type="com.a2b.trip.guide.model.vo.Guide" alias="Guide"/>
		<typeAlias type="com.a2b.trip.guide.model.vo.GuideDetail" alias="GuideDetail"/>
		<typeAlias type="com.a2b.trip.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="com.a2b.trip.fellow.model.vo.FellowMatching" alias="FellowMatching" />
		<typeAlias type="com.a2b.trip.fellow.model.vo.FellowBoard" alias="FellowBoard" />
		<typeAlias type="com.a2b.trip.fellow.model.vo.Fellow" alias="Fellow" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/qna-mapper.xml" />
		<mapper resource="mappers/guide-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/fellow-mapper.xml" />
		
	</mappers>
</configuration>
